<div class="posts">
  <% if @posts.any? %>
    <h3>Posts (<%= @posts.count %>)</h3>
      <% @posts.each do |post| %>
      <ol class ="individual">
        <%= post.title %>
        <%= link_to "More Info", {:controller => "posts", :action => "show", :id => post.id, :college_id => @college.id} %>
      </ol>
      <% end %>
  <% end %>

   <form id="searchbox" action="/posts/searchpost" method="post">
    <input id="search" type="text" placeholder="Type here" name="searchvalue">
    <input id="collegeid" type="hidden" value= <%= @collegeid %> name="temp">
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
    <input id="submit" type="submit" value="Search">
  </form>
     <%= link_to "Create a Post", {:controller => "posts", :action => "new", :college_id => @college.id } %>
     <%= link_to "All Universities", {:controller => "colleges", :action => "index"} %>

</div>

